/* Définition des polices personnalisées */

body
{
    font-family: 'Raleway', sans-serif;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
@media all and (max-width: 1024px)
{
    #bloc_page  
    {
        width: auto;
    }
    .titre_principal
    {
    display: flex;
    flex-wrap: wrap;
    }

}
.titre_principal
{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}
.logo
{
    align-items: baseline;
}
.logo img
{
    width: 90px;
    height: 40px;
}
nav 
{
    display: flex; 
}
nav ul 
{
    list-style-type: none;
    display: flex;
}
nav li
{
        padding-left: 30px;
}
nav a
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: blue;
    border-bottom: 3px solid blue;
}
@media all and (max-width: 1024px)
{
    .logo
    {
        display: inline-block;    
        vertical-align: top;
        align-items: top;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    nav li
    {
        padding-left: 30px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }

}
.Recherche
{
    display: flex;
    border: 1px  #f2f2f2 solid;
    border-radius: 13px 10px 10px 13px;
    margin-right: 610px;
    font-size: 15px;
}
.res2:nth-child(2)
{
    flex: 1;
}
.res1
{
    width: 20px;
    text-align: center;
    border: 7px #f2f2f2 solid;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}
.res2
{
    text-align: left;
    border: 7px White solid;
}
.res3
{
    text-align: center;
    color: white;
    border: 7px #0065fc solid;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
}
.Filtre
{
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    width: 650px;
    font-size: 14px;
}
.eco,.fam,.rom,.ani,.fil
{
    text-align: center;
    border: 1px #817f7f solid;
    padding: 5px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;

}
.fil
{
    border: 1px white solid;
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;   
}

h1
{
    font-size: 16px;
}

h2,p
{
    font-size: 13px;
}
.rf
{
    display: flex;
    flex-direction: column;
}
.ic1,.ic2,.ic3,.ic4
{
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #deebff;
    border-radius: 35px;
    justify-content:center;
    align-items: center;
}
.ic5
{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 15px;
    justify-content:center;
    align-items: center;
    border: 1px #817f7f solid;

}
.ip
{
display: flex;
}
.ic55
{
    margin-left: 10px;
}
/* paramettre de la sous section "ber"*/
.ber
{
    display: flex; 
    flex-wrap: wrap;
    width: 590px;
    height: 450px;
    margin-left: 170px;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;   
}
.bloc_img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 590px;
    height: 350px;
    background-color: #f2f2f2;
}
.be1
{
display: flex;
position: relative;
margin-left: 10px;
margin-top: 10px;
width: 240px;
}
.be2,.be3,.be4,.be5,.be6,.be7
{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 162px;
    border-radius: 15px 15px 15px 15px;
    background-color:white;
}
.b2,.b3,.b4,.b5,.b6,.b7
{
    display: flex;
    border: 3px white solid;
    align-items: center;
    justify-content:center;
    width: 165px;
    height:80px;
    border-radius: 15px 15px 0px 0px;
    background-color:white;
}
.b22,.b33,.b44,.b55,.b66,.b77
{
    margin-top: 0px;
    width: 155px;
    height: 65px;
    margin-left: 10px;
    border-radius: 0px 0px 15px 15px;
    background-color:white;
    border: 3px white solid;
}
.b2 img,.b3 img,.b4 img,.b5 img,.b6 img,.b7 img
{
    width: 165px;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
.b22 h1, .b33 h1,.b44 h1,.b55 h1,.b66 h1,.b77 h1
{
    font-size: 12px;
}
.b22 h2,.b33 h2,.b44 h2,.b55 h2,.b66 h2,.b77 h2
{
    font-size: 10px;
}
.be8
{
margin-left: 10px;
margin-bottom: 0px;
}
/*Paramettre de sous section pop*/
.sec1
{
    display:flex;
    justify-content:space-between;
}
.pop
{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-right:160px ;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}
.po1
{
display: flex;
justify-content:space-between;
width: 240px;
}
.po2, .po3, .po4
{
    width: 240px;
    height: 100px;
    border-radius: 15px 15px 15px 15px;
    background-color:white;
}
.po2, .po3, .po4
{
    display: flex;
    align-items: center;
}
.p2,.p3,.p4
{
    display: flex;
    border: 3px white solid;
    align-items: center;
    justify-content:center;
    width: 110px;
    height:100px;
    border-radius: 15px 0px 0px 15px;
    background-color:white;
}
.p22,.p33,.p44
{
    border: 3px white solid;
    width: 130px;
    height: 100px;
    border-radius: 0px 15px 15px 0px;
    background-color:white;
}
.p2 img,.p3 img,.p4 img
{
    width: 110px;
    height: 100px;
    border-radius: 15px 0px 0px 15px;
}
.p22 h1,.p33 h1,.p44 h1
{
    font-size: 12px;
}
.p22 h2,.p33 h2,.p44 h2
{
    font-size: 10px;
}
/*Paramettre de section 2*/
.sec2
{
    display: flex;
    flex-direction: column; 
    width: 915px;
    height: 350px;
    margin-left: 170px;
}
.b_se1
{
    margin-top: 10px;
}
.b_ele
{
    display: flex;
    justify-content: space-between;
    width: 915px;
    height: 275px;
}
/*1er bloc d'element avec 2 sous blocs*/
.b_el1, .b_el3
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 265px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;
}
.b_el11,.b_el33
{
    width: 197px;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
}
.b_el11 img,.b_el33 img
{
    width: 200px;
    height: 230px;
    border-radius:15px 15px 0px 0px ;
}
.b_el111,.b_el333
{
    width: 197px;
    height: 30px;
    border-radius:0px 0px 15px 15px;
}
.b_el111 h2,.b_el333 h2,.b_e222 h2,.b_e444 h2,.b_222 h2,.b_444 h2
{
    margin-left: 10px;
}
/*2e bloc d'element avec 4 sous blocs*/

.b_el2,.b_el4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 265px;
    border-radius: 15px 15px 15px 15px;
}
.b_e2,.b_e4
{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 147px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;
}
.b_e22,.b_e44
{
    width: 196px;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
}
.b_e22 img,.b_e44 img
{
    width: 198px;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
}
.b_e222,.b_e444
{
    width: 196px;
    height: 35px;
    border-radius: 0px 0px 15px 15px;
}
.b_2,.b_4
{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 90px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;
}
.b_22,.b_44
{
    width: 196px;
    height: 53px;
    border-radius: 15px 15px 0px 0px;
}
.b_22 img,.b_44 img
{
    width: 198px;
    height: 53px;
    border-radius: 15px 15px 0px 0px;
}

.b_222,.b_444
{
    width: 196px;
    height: 35px;
    border-radius: 0px 0px 15px 15px;
}








