/* Définition des polices personnalisées */
body
{
    font-family: 'Raleway', sans-serif;
}
header
{
    width: 950px;
    height: 80px;
    margin: auto;
    padding: 0 20px;
}
.bloc_section
{
    width: 950px;
    margin: auto;
    padding: 0 20px;
}
@media all and (max-width: 1024px)
{
    .bloc_section
    {
        width: auto;
    }
}
.titre_principal 
{
    display: flex;
    align-items: center;
    min-width: 280px;
    flex-wrap: wrap;
}

.logo 
{
    width: 120px;
    height: 70px;
    flex-grow: 1;

}
.logo img
{
    width: 120px;
    height: 70px;

}
nav, .header_inscrire
{
    padding: 0 15px;
}
nav
{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.titre_principal a
{
    text-decoration: none;
}
.mobile1 a:visited,.header_inscrire a:visited 
{
    color: blue; 
}
@media only screen and (max-width: 424px)
{
    nav
    {
        flex-grow: 1;
        order: 3;
    }
    .header_inscrire 
    {
        order: 2;
        justify-content: top;
        color: #9f9f9f;
    }
    .titre_principal a:hover
    {
        border-top:none;
    }
}
.mobile 
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile1 
{
    border-top: 3px blue solid;
    color: blue; 
}
.mobile2
{
    color: #9f9f9f;
    padding-top: 10px;
}
@media all and (max-width:  500px)
{  
    .mobile 
    {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
   .mobile1 
    {
        border-top: none;
        border-bottom: 3px blue solid;
        color: blue; 
        padding-bottom: 10px;

    }
    .mobile2
    {
        border-bottom: 3px #f2f2f2 solid;
        color: #9f9f9f;
    }
}
.par
{
    display: flex;
    flex-direction: column;
}
.Recherche
{
    display: flex;
    border: 1px  #f2f2f2 solid;
    border-radius: 13px 10px 10px 13px;
    width:300px;
    font-size: 15px;
}
.res2:nth-child(2)
{
    text-align: left;
    border: 7px White solid;
    flex: 1;
}
.Recherche a
{
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.Recherche a:hover
{
    color: black;
}
.res1
{
    width: 20px;
    text-align: center;
    border: 7px #f2f2f2 solid;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}
.b_r3r4
{
    text-align: center;
    color: white;
    border: 7px #0065fc solid;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
}
.res4
{
    display:none;
}
@media all and (max-width:  500px)
{
    .Recherche
    {
        display: flex;
        border: 1px  #f2f2f2 solid;
        width:300px;
        border-radius: 16px 15px 15px 16px;
    }
    .res1
    {
        width: 20px;
        border: 15px #f2f2f2 solid;
        border-radius: 15px 0px 0px 15px;
    }
    .res2:nth-child(2)
    {
        flex: 1;
        padding-top: 8px;
        font-size: 17px;
    }
    .Recherche a
    {
        font-size: 13px;
        color: white;
        text-decoration: none;
    }
    .Recherche a:hover
    {
        color: black;
    } 
    .res4,.b_r3r4
    {
        display: block;
        border: 7px #0065fc solid;
        border-radius: 15px 15px 15px 15px;
    }
    .res3
    {
        display: none;
    }
}
.fil
{
    display: flex;
    width: 700px;
    height: 80px;
    border: 1px white solid;
    align-items: center;
}
.fi1
{
    display: flex;
    width: 60px;
    height: 40px;
    border: 1px white solid;
    align-items: center;
}
.fi2
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 650px;
    height: 40px;
    border: 1px white solid;
}
.f1,.f2,.f3,.f4
{
    display: flex;
    border: 1px #817f7f solid;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    
}
.f1_i,.f2_i,.f3_i,.f4_i
{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #deebff;
    justify-content:center;
    align-items: center;
}
.f1_ii,.f2_ii,.f3_ii,.f4_ii
{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.f1_ii a,.f2_ii a,.f3_ii a,.f4_ii a
{
    text-decoration: none;
    color: black;
}
.f1_ii a:hover,.f2_ii a:hover,.f3_ii a:hover,.f4_ii a:hover
{
    text-decoration: none;
    color: blue;
}


@media all and (max-width: 700px)
{
    .fil
    {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height:auto;
    }
    .fi1
    {
        display: flex;
        width: auto;
        height:auto;
        padding-top: 10px;
    }

    .fi2
    {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height:auto;

    }
    .f1,.f2,.f3,.f4
    {
        display: flex;
        border: 1px #817f7f solid;
        border-radius: 20px 20px 20px 20px;
        align-items: center;
        margin-top:10px ;
    }
    .f1_i,.f2_i,.f3_i,.f4_i
    {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: #deebff;
        justify-content:center;
        align-items: center;
    }
    .f1_ii,.f2_ii,.f3_ii,.f4_ii
    {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
    }
}
h1
{
    font-size: 16px;
}

h2,p
{
    font-size: 13px;
}
.rf
{
    display: flex;
    flex-direction: column;
}
.ip
{
display: flex;
}
.ic5
{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 15px;
    justify-content:center;
    align-items: center;
    border: 1px #817f7f solid;
}
.ic55
{
    margin-left: 10px;
}
@media all and (max-width: 700px)
{
    .ip
    {
    display: flex;
    padding-top: 15px;
    }
    .ic5
    {
        display: flex;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 15px;
        justify-content:center;
        align-items: center;
        border: 1px #817f7f solid;
    }
    .ic55
    {
        margin-left: 10px;
    }
}
/*Paramettre de la section une*/
.sec1
{
    display: flex;
    justify-content: space-between;
}
.sec1 a,.sec2 a
{
    font-size: 13px;
    color: black;
    text-decoration: none;
}
.sec1 a:hover,.sec2 a:hover
{
    color: blue;
}
@media all and (max-width: 900px)
{
    .sec1
    {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        height:auto;
    }
    .ber
    {
        display: flex;
        width: auto;
        height:auto;
        flex-wrap: wrap;
    }
    .bloc_img
    {
        display: flex;
        width: auto;
        height:auto;
        flex-wrap: wrap;
    }
}
/* paramettre de la sous section "ber"*/
.ber
{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 65%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}
.bloc_img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding-bottom: 10px;
}
.be1
{
display: flex;
margin-left: 15px;
margin-top: 15px;
}
.be2,.be3,.be4,.be5,.be6,.be7
{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    background-color:white;
    margin-top:15px ;
}
.b2,.b3,.b4,.b5,.b6,.b7
{
    display: flex;
    border: 4px white solid;
    align-items: center;
    justify-content:center;
    width: 170px;
    height:110px;
    border-radius: 15px 15px 0px 0px;
    background-color:white;


}
.b2 img,.b3 img,.b4 img,.b5 img,.b6 img,.b7 img
{
    width: 168px;
    height: 105px;
    border-radius: 15px 15px 0px 0px;
}

.b22,.b33,.b44,.b55,.b66,.b77
{
    margin-top: 0px;
    width: 160px;
    height: 70px;
    margin-left: 10px;
    border-radius: 0px 0px 15px 15px;
    background-color:white;
    padding-bottom: 10px;
    line-height: 60%;

}
.b22 h1, .b33 h1,.b44 h1,.b55 h1,.b66 h1,.b77 h1
{
    font-size: 12px;
}
.b22 h2,.b33 h2,.b44 h2,.b55 h2,.b66 h2,.b77 h2
{
    font-size: 10px;
}
.be8
{
margin-left: 10px;
margin-bottom: 0px;
}
@media all and (max-width: 900px)
{
    .ber
    {
        width: 100%;
        right: auto;
        margin-top: 15px;
        background-color: white;
    }
    .bloc_img
    {
        width: 100%;
        right: 100%;
        background-color: white;
    }
    .be2,.be3,.be4,.be5,.be6,.be7
    {
        width: 100%;
        right: 100%;
        box-shadow: 5px 5px 5px  #f2f2f2 ;
    }
    .b2,.b3,.b4,.b5,.b6,.b7
    {
        width: 96%;
        right: 100%;

    }
    .b2 img,.b3 img,.b4 img,.b5 img,.b6 img,.b7 img
    {
        width: 375px;
        right: 100px;

    }

    .b22,.b33,.b44,.b55,.b66,.b77
    {
        width: 97%;
        right: 90%;

    }
    .b22 h1, .b33 h1,.b44 h1,.b55 h1,.b66 h1,.b77 h1
    {
        font-size: 14px;
    }
    .b22 h2,.b33 h2,.b44 h2,.b55 h2,.b66 h2,.b77 h2
    {
        font-size: 12px;
    }   
}

/*Paramettre de sous section pop*/
.pop
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 32%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}
.po1
{
display: flex;
justify-content:space-between;
width: 240px;
}
.po2, .po3, .po4
{
    display: flex;
    align-items: center;
    width: 240px;
    height: 100px;
    border-radius: 15px 15px 15px 15px;
    background-color:white;
}
.p2,.p3,.p4
{
    display: flex;
    border: 2px white solid;
    align-items: center;
    justify-content:center;
    width: 110px;
    height:96px;
    border-radius: 15px 0px 0px 15px;
    background-color:white;

}
.p2 img,.p3 img,.p4 img
{
    width: 105px;
    height: 90px;
    border-radius: 15px 0px 0px 15px;
}

.p22,.p33,.p44
{
    border: 2px white solid;
    width: 130px;
    height: 85px;
    border-radius: 0px 15px 15px 0px;
    background-color:white;
    padding-bottom: 10px;
    line-height: 80%;
}
.p22 h1,.p33 h1,.p44 h1
{
    font-size: 12px;
}
.p22 h2,.p33 h2,.p44 h2
{
    font-size: 10px;
}
@media all and (max-width: 900px) 
{
    .pop
    {
        width: 100%;
        margin: auto;
        padding-bottom: 15px;
    }
    .po1,.po2,.po3,.po4 
    {
        width: 90%;
        right: 100%;
        margin-top: 15px;
    }
    .p2,.p22,.p3,.p33,.p4,.p44 
    {
        width: 90%;
    }
    .po2 img,.po3 img,.po4 img 
    {
        width: 100%;
        right: 100%;

    }
    .p2 a,.p3 a,.p4 a 
    {
        width: 100%;
    }
    a img
    {
        width: 90%;
        object-fit: cover;
    }
}
/*Paramettre de section 2*/
.sec2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.b_se1
{
    margin-top: 10px;
}
.b_ele
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
/*1er bloc d'element avec 2 sous blocs*/
.b_el1, .b_el3
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;

}
.b_el11,.b_el33
{
    width: 197px;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
    

}
.b_el11 img,.b_el33 img
{
    width: 197px;
    height: 230px;
    border-radius:15px 15px 0px 0px ;
}
.b_el111,.b_el333
{
    width: 197px;
    height: 30px;
    border-radius:0px 0px 15px 15px;
}
.b_el111 h2,.b_el333 h2,.b_e222 h2,.b_e444 h2,.b_222 h2,.b_444 h2
{
    margin-left: 10px;
}
/*2e bloc d'element avec 4 sous blocs*/

.b_el2,.b_el4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
}
.b_e2,.b_e4
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;
}
.b_e22,.b_e44
{
    width: 196px;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
}
.b_e22 img,.b_e44 img
{
    width: 196px;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
}
.b_e222,.b_e444
{
    width: 196px;
    height: 35px;
    border-radius: 0px 0px 15px 15px;
}
.b_2,.b_4
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #f2f2f2 ;
    
}
.b_22,.b_44
{
    width: 196px;
    height: 53px;
    border-radius: 15px 15px 0px 0px;
}
.b_22 img,.b_44 img
{
    width: 196px;
    height: 53px;
    border-radius: 15px 15px 0px 0px;
}

.b_222,.b_444
{
    width: 196px;
    height: 35px;
    border-radius: 0px 0px 15px 15px;
}
@media all and (max-width: 600px)
{
    .b_ele
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /*1er bloc d'element avec 2 sous blocs*/
    .b_el1, .b_el3
    {
        width: 100%;
        margin: auto;
        margin-top: 15px;
    
    }
    .b_el11,.b_el33
    {
        width: 99.8%;
        height: 140px;
    }
    .b_el11 img,.b_el33 img
    {
        width: 99.8%;
        height: 100%;
    }
    .b_el111,.b_el333
    {
        width: 99.8%;
        height: auto;
    }
    .b_el111 h2,.b_el333 h2,.b_e222 h2,.b_e444 h2,.b_222 h2,.b_444 h2
    {
        margin-left: 10px;
    }
    /*2e bloc d'element avec 4 sous blocs*/
    
    .b_el2,.b_el4
    {
        width: 99.8%;
        height: auto;
        margin-top: 15px;
    }
    .b_e2,.b_e4
    {
        width: 99%;
        height: auto;
        margin-bottom: 15px;
    }
    .b_e22,.b_e44
    {
        width: 99.8%;
        height: auto;
    }
    .b_e22 img,.b_e44 img
    {
        width: 99.8%;
        height: 140px;
    }
    .b_e222,.b_e444
    {
        width: 99.8%;
        height: auto;
    }
    .b_2,.b_4
    {
        width: 99.8%;
        height: auto;

    }
    .b_22,.b_44
    {
        width: 99.8%;
        height: 140px;
    }
    .b_22 img,.b_44 img
    {
        width: 99.8%;
        height: 140px;
    }
    .b_222,.b_444
    {
        width: 99.8%;
        height: 35px;

    }
}
.bloc_footer
{
    width: 1000px;
    height: auto;
    margin-left: 10%;
}
@media all and (max-width: 600px)
{
    .bloc_footer
    {
        width: 430px;
        height: auto;
        margin-left: 0%;
    }
}
footer
{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-top: 35px;
    padding-bottom:35px ;
}
.bf_1,.bf_2,.bf_3
{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: auto;

}
.bf_1,.bf_1 a,.bf_2,.bf_2 a,.bf_3,.bf_3 a
{
    font-size: 13px;
    color: black;
    text-decoration: none;
}
.bf_1 a:hover,.bf_2 a:hover,.bf_3 a:hover
{
    color: blue;
}
@media all and (max-width: 600px)
{
    footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: left;
    }
    .bf_1,.bf_2,.bf_3
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 25px;
    }
    .bf_1,.bf_1 a,.bf_2,.bf_2 a,.bf_3,.bf_3 a
    {
        font-size: 18px;
        color: black;
        text-decoration: none;
    }
    .bf_1 a:hover,.bf_2 a:hover,.bf_3 a:hover
    {
        color: blue;
    }   
}











